In [1]:
1+1

2

In [2]:
print("sudarshan dash")

sudarshan dash

In [3]:
p=200
r=65
t=3

In [4]:
si=(p*r*t)/100

In [5]:
si

390.0

In [6]:
print("my simple interest is ",si)

my simple interest is  390.0

Take the name of the user as input .And say hello to them

In [7]:
name = input()

Sudarshan the 'G'

In [8]:
print(name)

Sudarshan the 'G'

In [9]:
print("hello",name)

hello Sudarshan the 'G'

In [10]:
name1=input()
name2=input()
name3=input()

Ankit
Rohit
Drake

In [11]:
print(name1,name2,name3)

Ankit Rohit Drake

In [12]:
print('clark kent\'s awesome')

# when the compiler see this ' the escapes character it ignores the next character
# user dont want to behave as it is a statement ending thing
      
      # BACKSLASH \ is known as the escape character

clark kent's awesome

### Comments

Comments are the statements that are written inside the code but they are ignored by the interpreter
These are written to make code understandable and readable

In [13]:
print('Good evening')

# This is a simple good evening message

print('Hello everyone')

Good evening
Hello everyone

## Data Types


### Integers-int 
### Floating point numbers-float
### Strings - str
### Boolean type - bool
### None type

In [14]:
a=100

In [15]:
type(a)

int

In [16]:
print(type(a))

<class 'int'>

In [17]:
c=56.76

In [18]:
print(type(c))

<class 'float'>

In [19]:
h='dj'

In [20]:
print(type(h))

<class 'str'>

In [21]:
g=True

In [22]:
print(type(g))

<class 'bool'>

## Typecasting

In [23]:
c=76.79

In [29]:
print(type(c))

<class 'float'>

In [26]:
i=int(c)

In [27]:
print(i)

76

In [28]:
print(type(i))

<class 'int'>

String to Integers type

In [30]:
s = '567'

In [31]:
i=int(s)

In [33]:
print(type(i))

<class 'int'>

In [34]:
x='sid'

Converitng int to string

In [36]:
f = 76858
j =str(f)
print(j)

76858

In [37]:
print(type(j))

<class 'str'>

In [46]:
a =5+2 #additon operator
b =5-2 # subtraction operator
c =5*2 #muliply operartor
d =5/2 #divide operartor
e =5**2 #power operartor

In [47]:
print(a,b,c,d,e)

7 3 10 2.5 25

In [42]:
x=5//2
print(x) # it will only give integer part

2

In [44]:
t= 5%2 #modulo operator (it give the remainder)

In [45]:
t

1

In [48]:
c=81**(1/2)  # sqaure rooting 
c

9.0

In [49]:
a, b = 6, 9 # Typical unpacking
a,b

(6, 9)

### Python Fundamentals 2

In [51]:
# By default the value of sep=' ' 
# By default the value of end='\n'(\n is the new line character)
print("HELLO", "WORLD", "Hi", " there", sep='+', end='||abracadabra||')
print("Python is amazing")

HELLO+WORLD+Hi+ there||abracadabra||

In [52]:
print("Python is amazing")

Python is amazing

In [53]:
# By default the value of sep=' ' 
# By default the value of end='\n'
print("HELLO", "WORLD", "Hi", " there", sep='+', end='||abracadabra||')
print("Python is amazing")

HELLO+WORLD+Hi+ there||abracadabra||Python is amazing

In [58]:
print("HELLO", "WORLD", "Hi", "there", sep='\n', end='\n@@@@')

HELLO
WORLD
Hi
there
@@@@

In [60]:
s1='hello world'
s2='hlw world'
print(s1, s2,type(s1),type(s2))

hello world hlw world <class 'str'> <class 'str'>

In [61]:
s3='''
In this course, we will introduce participants to the different types of scientific articles and provide an outline of how to write an original research article describing their original scientific research.

To enable health professionals to write scientific research articles that can be published and to equip them with skills to cite and manage references/ bibliography while writing using a reference management tool such as Mendeley.


'''

In [62]:
s3

'\nIn this course, we will introduce participants to the different types of scientific articles and provide an outline of how to write an original research article describing their original scientific research.\n\nTo enable health professionals to write scientific research articles that can be published and to equip them with skills to cite and manage references/ bibliography while writing using a reference management tool such as Mendeley.\n\n\n'

In [63]:
print(s3)

In this course, we will introduce participants to the different types of scientific articles and provide an outline of how to write an original research article describing their original scientific research.

To enable health professionals to write scientific research articles that can be published and to equip them with skills to cite and manage references/ bibliography while writing using a reference management tool such as Mendeley.

## Multiline Comment

In [64]:
'''
This is just a random comment 
It could be anything 
like x, y , z
'''

'\nThis is just a random comment \nIt could be anything \nlike x, y , z\n'

In [65]:
# This is sigle line comment

## Branching

In [3]:
age=6

In [4]:

if age>=18:
  print("The person is eligible to vote")
else:
  print('The person is not eligible to vote')

The person is not eligible to vote

In [9]:
age=11

In [10]:
if age>=18:
    print("Eligible for voting")
elif age>=10:                           # In c++ and in Java elif called as else if but in python its called ELif
    print("Above the age of 10 but still not eligible")
else:
    print("Not eligible")

Above the age of 10 but still not eligible

### AND OR

In [13]:
name="sudarshan"
surname="dash"
print(name,surname)

sudarshan dash

In [15]:
batch="python"
org="scaler"


if org=="scaler" and batch=="python":
    print("Allow")
else:
    print("Block")

Allow

In [20]:
org=input()    # User Input

Unacademy

In [21]:
#org="scaler"
#org="Unacademy"

if org=="scaler" or org=="Interviewbit":
    print("Allow")
else:
    print("Block")

Block

# Loops

## while loops

In [22]:
# print the counting from 1 to 10

In [23]:
counter=1

while counter <=10:
    print(counter)
    counter=counter+1

1
2
3
4
5
6
7
8
9
10

In [24]:
counter=1

while counter <=10:
    print(counter ,end=' ')
    counter=counter+1

1 2 3 4 5 6 7 8 9 10

In [26]:
a=2
a=a+5
a

7

In [27]:
a=2
# shorthand
a+=5
a

7

In [28]:
'''
Question: Given an integer, print the correspondig stair pattern for it.

input: 4

output:
*
**
***
****
'''

'\nQuestion: Given an integer, print the correspondig stair pattern for it.\n\ninput: 4\n\noutput:\n*\n**\n***\n****\n'

In [32]:
n= input() # it will always return string

4

In [33]:
print(type(n))  
# that is why first we are gonna it to integers

<class 'str'>

In [34]:
n=int(input())

4

In [35]:
print(type(n))

<class 'int'>

In [41]:
i =1
while i<=n: # print i stars for i th rows
    print("* "*i)
    i+=1     #i=i+1

*
* *
* * *
* * * *

In [40]:
print("sid"*5)

sidsidsidsidsid

## Range method

In [42]:
range(11)

range(0, 11)

In [43]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
list(range(2,11))

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
list(range(0,11,2))  # range o to 11 and increment by 2

[0, 2, 4, 6, 8, 10]

In [46]:
list(range(9,0,-2))

[9, 7, 5, 3, 1]

In [48]:
list(range(0,34,4))

[0, 4, 8, 12, 16, 20, 24, 28, 32]

## For loop

It allows us to loop/iterate over a range

Print the squares of odd numbers from 1 to 10

In [49]:
for i in range(1,10,2):
    print(i**2, end=' ')

1 9 25 49 81

In [51]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

Print the cubes of all numbers from 9 to 1.

In [59]:
for i in range(9,0,-1):
    print(i**3, end=' ')

729 512 343 216 125 64 27 8 1

In [58]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

Print the cubes of all odd numbers from 9 to 1. (Reverse) [9,7,5,3,1] ->

In [60]:
for i in range(9,0,-2):
    print(i**3, end=' ')

729 343 125 27 1

In [65]:
for c in "Hello World":
    print(c)

H
e
l
l
o

W
o
r
l
d

In [71]:
for i in range(1,11,1):
    print(i**2,end='  ')

1  4  9  16  25  36  49  64  81  100

 Finding sum of digits using While Loops

In [1]:
n=int(input())

1234

In [2]:
sum=0

while(n>0):
    i=n%10
    sum=sum+i
    n=n//10
print(sum)

10

In [3]:
sum

10

In [7]:
'''
1 2 3 4
1 2 3
1 2
1 

'''

'\n1 2 3 4\n1 2 3\n1 2\n1 \n\n'

In [5]:
n=int(input())

1234

In [6]:
while(n>0):
    print(n)
    n=n//10

1234
123
12
1

In [8]:
for i in range(0,5,1):
    print(i**2)

0
1
4
9
16

# Python Fundamentals 3

## Continue , break

In [9]:
# break statement

i=0
while i<=5:
    print(i)
    i=i+1

0
1
2
3
4
5

In [10]:
i=0
while i<=5:
    print(i)
    i=i+1
    
    if i==3:
        break

0
1
2

In [11]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(10):
    print(i)
    
    if i == 4:
        break

0
1
2
3
4

In [13]:
# continue statement skips an iteration


# i want to skip all multiples of 3
for i in range(2,100,2):
    if i%3 != 0:
        print(i, end=' ')  #if u see the output 12,18,24...r skipped

2 4 8 10 14 16 20 22 26 28 32 34 38 40 44 46 50 52 56 58 62 64 68 70 74 76 80 82 86 88 92 94 98

In [ ]:
for i in range(2,100,2):
    if i%3 == 0:
        continue
        
    print(i, end=' ')

In [17]:
a = 5
#  check whether a is equal to 5
if a == 5:
    print('yes')

yes

In [21]:
# check whether a is not equal to 5
a=7
if a != 5:
    print('yes')

yes

# Random Game

In [15]:
import random

while True:
#     infinite loop
    
    r = random.randint(1,10)
#     it will generate a random number between 1 and 10
    print(r)
#     r will be a random number between 1-10
    
    if r==5: # r will keep giving random numbers till its gives 5 
        break  #once 5 pop up it will stop coz we are using break

2
10
2
10
1
9
1
9
4
6
1
8
2
10
1
9
6
5

In [16]:
while True:
    r=random.randint(1,5)
    print(r)
    
    if r==3:
        break

2
5
2
2
3

## Check Prime

In [23]:
n = int(input())

isPrime = True
# assume that the number is prime

for i in range(2,n):
#     check whether i is a divisor of n
    if n % i == 0:
#         not prime
        isPrime = False
        break
        

if isPrime and n!=1:
    print("Prime number")
else:
    print("Not prime")

4
Not prime

In [30]:
n=int(input())
for i in range(2,n):
    if n%i==0:
        print("not prime")
        break
    else:
        print("prime")
        break

76
not prime

## Swap two numbers

In [31]:
a = int(input())
b = int(input())

89
90

In [32]:
a,b=b,a

In [33]:
a,b

(90, 89)

In [34]:
print(a , b)

90 89

In [35]:
id(a)  #memory address the memory block added to the object file

2265414634512

## Python Lists

In [36]:
a = [7,3,5,8,9]
a

[7, 3, 5, 8, 9]

In [37]:
print(type(a))

<class 'list'>

In [38]:
s = ['hello', 'world', 'python', 'java']
s

['hello', 'world', 'python', 'java']

In [39]:
b = [5, 'hello', 8, 9, 2.378945893, 'python', True, [2,3]]
b

[5, 'hello', 8, 9, 2.378945893, 'python', True, [2, 3]]

List is heterogeneous. Array must be homogeneous

In [41]:
a=[5,45,5,6,245]

In [42]:
len(a)

5

In [43]:
fruits=['Apple','banana','guava']

In [45]:
fruits[2]

'guava'

In [46]:
fruits[-1]

'guava'

In [47]:
fruits[2]='grapes'  # this is replaced

In [48]:
fruits

['Apple', 'banana', 'grapes']

List is mutable
Means anything that you can change

In [49]:
fruits.append('papaya')
fruits

['Apple', 'banana', 'grapes', 'papaya']

Let s say you want to swap the data of list

In [50]:
fruits[0] , fruits[1] = fruits[1] , fruits[0]

In [51]:
fruits

['banana', 'Apple', 'grapes', 'papaya']

In [54]:
fruits[0]='guava'

In [55]:
fruits  #you can have two same values of list in one

['guava', 'Apple', 'grapes', 'guava']

In [69]:
fruits.append(fruits[2] + fruits[3])
fruits

['guava',
 'Apple',
 'grapes',
 'apple',
 'apple',
 'guava',
 'grapesguava',
 'grapesguava',
 'grapesguava',
 'grapesguava',
 'grapesguava',
 'grapesapple']

In [62]:
fruits.append(fruits[2] + fruits[3])

In [63]:
fruits

['guava',
 'Apple',
 'grapes',
 'guava',
 'grapesguava',
 'grapesguava',
 'grapesguava',
 'grapesguava',
 'grapesguava',
 'grapesguava']

In [67]:
fruits.insert(3,'apple')

In [65]:
fruits

['guava',
 'Apple',
 'grapes',
 'apple',
 'guava',
 'grapesguava',
 'grapesguava',
 'grapesguava',
 'grapesguava',
 'grapesguava',
 'grapesguava']

Append function allows us to add one entry from the end
Pop function allow us to remove one entry from the end

In [68]:
fruits.pop()

'grapesguava'

In [70]:
a=[]
a=list()

In [72]:
range(2,10) #converts the range to list by using list contructer

range(2, 10)

In [73]:
list(range(2,10)) #user list contructor put range value inside list

[2, 3, 4, 5, 6, 7, 8, 9]

In [74]:
# this is kind of typecasting

## Check if a number is present in list

In [75]:
a = [2,6,9,3,4,1,5]
b = 9
if b in a:
    print("yes")
# O(n) time complexity

yes

In [76]:
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## Linear Search

In [77]:
a = [2,6,9,3,4,1,5]
b = 9

In [78]:
# inbuilt function
# basically means location of 9 in list 'a'
# index of b in a
print(a.index(b))

2

In [79]:
# without the inbuilt function
# find the index of 'b' in 'a'

#a = [2,6,9,3,4,1,5]
#b = 9

for i in range(len(a)):
    if a[i] == b:
        print(i)
        break

2

# Reading List Input

Assume you are given a list input in one single line such as,
10 20 30 40

You are required to read the input and store it in a list.

There are mainly 2 ways to go about it.

Method 1:
Using map function:

a = list(map(int, input().split()))
This method will not be discussed in today's session because the importance of map function cannot be explained or understood without discussing the topic of functions first.

Method 2:
Using simple loops.
We will be discussing this method.

# Step 1: Read the input and split it.

In [80]:
a = input()

10 20 30 40

In [81]:
a

'10 20 30 40'

In [82]:
b = a.split()
# returns a list of entries separated by spaces

In [83]:
b

['10', '20', '30', '40']

In [84]:
type(b)

list

In [85]:
type(['20'])

list

# Step 2: Iterate over the split list and use 'int' function on each entry

In [86]:
for i in range(len(b)):
    b[i] = int(b[i])

In [87]:
b

[10, 20, 30, 40]

In [88]:
type([20])

list

In [89]:
type(b[0])

int